<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Connectionkey" connectionString="test" />
  </connectionStrings>
  <appSettings>
    <add key="version" value="0.0.1" />
    <add key="schemaFile" value="Configs\\schema\\apiSchema.json" />
    <add key="swaggerFile" value="Static\\Swagger\\swagger.json" />
    <add key="mockDataPath" value="C:\\Mock\\" />
    <add key="auth" value="0" />
    <add key="KeyCacheExp" value="30" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.3.0" newVersion="5.7.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
