<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="requestlogfile" xsi:type="File" fileName="Log\api-request-${shortdate}.log" layout="${message}" archiveEvery="Day"/>
    <target name="summarylogfile" xsi:type="File" fileName="Log\api-summary-${shortdate}.log" layout="${message}" archiveEvery="Day" />
    <target name="exceptionlogfile" xsi:type="File" fileName="Log\api-error-${shortdate}.log" layout="${message}" archiveEvery="Day" />
  </targets>

  <rules>
    <logger name="request" minlevel="Info" writeTo="requestlogfile" />
    <logger name="summary" minlevel="Info" writeTo="summarylogfile" />
    <logger name="error" minlevel="Info" writeTo="exceptionlogfile" />
  </rules>
</nlog>